.back-button {
  border-radius: var(--mantine-radius-md);
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  background-color: transparent;
  color: var(--mantine-primary-color-9);
  border: 2px solid var(--mantine-primary-color-9);

  svg {
    margin: auto 0;
  }
}
