.mantine-Tabs-tab {
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-md);

  &:hover,
  &[data-active] {
    color: var(--text-color);
    background-color: light-dark(
      var(--mantine-primary-color-1),
      var(--mantine-color-dark-9)
    );
  }
}

.link-button {
  background-color: var(--mantine-color-mint-5);
  color: var(--border-color);
  box-shadow: 0 2px 0 var(--mantine-color-mint-7);
  border: 2px solid var(--mantine-color-mint-7);
  border-radius: var(--mantine-radius-md);
  padding: 0.35rem 0.85rem;
  display: flex;
  gap: 0.5rem;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);

  svg {
    margin: auto 0;
  }
}

.empty-state {
  --empty-card-border: var(--muted);

  &.transport {
    --empty-card-border: light-dark(
      var(--mantine-color-peach-2),
      var(--mantine-color-peach-7)
    );
  }
}
